{
  "extends": [
    "standard",
    "prettier"
  ],
  "plugins": [
    "mocha"
  ],
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  }
}